* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --text-color: #fff;
  --btn-blue: #049CC6;
  --btn-grey: #E3E8E7;
  --dark-grey-text-color: #1E2523;
  --shadow-color: #81CDE2;
  --hover-color: #ED6805;
  --grey-text-color: #F8FAF9;
}

header {
  background-image: url(COLOURBOX2600885.jpg);
  height: 13.375rem;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  box-shadow: var(--shadow-color) 15px 15px;
}

header h2 {
  font-size: 4rem;
  width: 10rem;
  align-self: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #fff;
}

.menu-list {
  transition: 2s;
}

.burger-menu {
  display: none;
  transition: 2s;
}

.burger-menu span {
  display: block;
  color: #fff;
  font-size: 20px;
}

#loginCheckbox {
  display: none;
}

#loginCheckbox:checked + .login-menu {
  display: flex;
}

.login-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #f1f1f1;
}

.btn:hover {
  background-color: var(--hover-color);
  color: var(--text-color);
}

@media only screen and (max-width: 768px) {
  .burger-menu {
    display: block;
  }

  .menu-list {
    flex-direction: column;
    text-align: center;
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 13.375rem;
    display: none;
    transition: 5s;
    z-index: 100;
  }

  .menu-list.show {
    display: flex;
  }
}

.login-menu-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.btn {
  width: 4.5rem;
  height: 2rem;
  border-radius: 3rem;
  transition: 0.5s;
  border: none;
}

article {
  margin: 4rem 0 0 0;
  border: 1px solid black;
  box-shadow: var(--shadow-color) 15px 15px;
}

article img {
  height: 15.5rem;
  object-fit: cover;
  width: 100%;
}

.social-read-more-ctn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-icons {
  display: flex;
}
